- var opts = {title: "Clean Tile tests", path: "../../"}
include "../lib/test" exposing opts

replace imports

replace tests
  :coffeescript
    WCT.loadSuites [
      "../split/test/index.html"
      "./test-pane-init.html"
      "./test-pane-view-detection.html"
    ]
