- var opts = {title: "Clean Tile tests", path: "../../"}
include "../lib/test" exposing opts

render replace imports(true)

replace tests
  :coffeescript
    WCT.loadSuites [
      "../container/test/index.html"
      "../split/test/index.html"
      "../tabs/test/index.html"
      "./test-pane-init.html"
      "./test-pane-view-detection.html"
      "./test-split-drag-position.html"
    ]
