- var opts = {title: "<cleantile-split> tests", path: "../../../"}
include "../../lib/test" exposing opts

render replace imports(true)

replace tests
  :coffeescript
    WCT.loadSuites [
      "./test-split-layout.html"
      "./test-parsePercent.html"
      "./test-parsePx.html"
      "./test-setPercent.html"
      "./test-setPx.html"
    ]
