- var opts = {title: "<cleantile-tabs> tests", path: "../../../"}
include "../../lib/test" exposing opts

render replace imports(true)

replace tests
  :coffeescript
    WCT.loadSuites [
      "./test-list-tabs.html"
      "./test-tab-active.html"
    ]
