!!! 5
include "../lib/license"
include "../lib/blade-warning"
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    title= opts.title
    block imports
      script(src=opts.path+"webcomponentsjs/lite.js")
      link(rel="import", href=opts.path+"font-roboto/roboto.html")
    block style
  body
    block body
