/*
  Abstract template for a Polymer tag.
  Usage:
    - var id = "my-tag"
    include "tag.blade" exposing id
*/
include "./license"
include "./blade-warning"
- if(typeof id === "object")
  - path = id.path ? id.path : path
  - id = id.id
block imports
  link(rel="import", href=path+"polymer/polymer.html")

block docs
dom-module(id=id)
  template
    block style
    block template
  block script
