/*
  Abstract template for a Polymer tag.
  Usage:
    - var id = "my-tag"
    include "tag.blade" exposing id
*/
include "./license"
include "./blade-warning"
block imports
  link(rel="import", href="../../polymer/polymer.html")

dom-module(id=id)
  template
    block style
    block template
  block script
