!!!5
include "./license"
include "./blade-warning"
html
  head
    meta(charset="UTF-8")
    title= opts.title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    block core-imports
      script(src=opts.path+"web-component-tester/browser.js")
    block imports
      script(src=opts.path+"webcomponentsjs/lite.js")
      script(src=opts.path+"web-component-tester/browser.js")
      script(src=opts.path+"test-fixture/test-fixture-mocha.js")
      link(rel="import", href=opts.path+"test-fixture/test-fixture.html")
    block style
  body
    block fixtures
    block tests
