include "../lib/license"
include "../lib/blade-warning"
:coffeescript
  window.CleanTile ?= {}
  window.CleanTile.ViewBehavior =
    properties:
      name:
        type: String
        notify: yes
        reflectToAttribute: yes
        observer: '_nameChanged'
      active:
        type: Boolean
    _nameChanged: ->
      @fire "changed-name", @name
