- var opts = {title: "CleanTile.GetReference tests", path: "../../../"}
include "../../lib/test" exposing opts

render replace imports(true)

replace tests
  :coffeescript
    WCT.loadSuites [
      "./test-get-element-reference.html"
    ]
